@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

.containerApropos{
    font-family: 'Montserrat', sans-serif;
    
}
.containerError{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: #FF6060;
    display: flex;
    flex-direction: column;
}
.error{
    margin-top: -10px;
    font-size: 400px;
    text-align: center;
   
}
.description{
    font-size: 30px;
    text-align: center;
}
.lien{
    width: 100%;
    text-align: center;

}
.acceuil{
    color: #FF6060;
}