.container{
    width: 80%;
    margin: auto;
    margin-top: 50px;
    color: #FF6060;
}
.error{
    margin-top: -10px;
    font-size: 400px;
    text-align: center;
   
}
.description{
    font-size: 30px;
    text-align: center;
}
.lien{
    width: 100%;
    text-align: center;

}
.acceuil{
    color: #FF6060;
}