

.bloc-produits{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    height: auto;
    border-radius: 25px;
    background-color: rgb(246, 246, 246);

}
.sous-bloc-produits{
    
    width: 97%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.produits{
    display: block;
    width: 30%;
    height: 350px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 50px;
    
    
}
.image-produit{
    width: 100%;
    height: 100%
}
.img-nav{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    
}
.title-produit{
    width: 100%;
   
    position: absolute;
    top: 280px;
    color: white;
}


