

.bloc-produits{
    
    
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    height: auto;
    border-radius: 30px;
    background-color: rgb(246, 246, 246);

}
.sous-bloc-produits{
    border: solid red;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.produits{
    display: block;
    width: 30%;
    height: 300px;
    border-radius: 20px;
    position: relative;
    margin-bottom: 50px;
    border: solid;
    
}
.image-produit{
    width: 100%;
    height: 250px;
}
.img-nav{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    
}
.title-produit{
    width: 100%;
    border: solid yellow;
    position: absolute;
    top: 250px;
    color: white;
}


