@mixin tablette-only {
    @media screen  and (max-width: 900px){
        @content;
    }
}


@mixin mobile-only {
    @media screen  and (max-width: 767px){
        @content;
    }
}

.container{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    
  // border: solid red;
    
    @include mobile-only() {
        
        display: flex;
        flex-direction: column;


    }

}


.sous-container{
    width: 100%; //47%
    display: flex;
    justify-content: space-between;
    //border:  solid green;

    @include mobile-only() {
       
        //width: 47%; //100%
    
    }
}

//////////////////////

.container-description{

    display: flex;
    justify-content: space-between;
    width: 100%;
   //border: solid blue;

   @include mobile-only() {
    display: flex;
    flex-direction: column;
    

    }
   
   .container-description-sousconteneur{
        width: 45%;
        @include mobile-only() {
            width: 100%; 
            
        
        }
   }
}
/// ///////////////



.bloc2{
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
   justify-content: space-between;
   
   @include mobile-only() {
       
    margin-bottom: 20px;

    }
   
    

   &__bouton2{
    height: 42px;
    position: relative;
    margin-right: 10px;
   // background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
   
   
   };

   @include tablette-only{
        height: 40px;
   }
   
}
.bloc2__on-off2{
    margin-top: -3px;  //-23px
    color: #FF6060;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    border-radius: 0px 0px 10px 10px;

    @include mobile-only() {
        margin-top: -22px;
        margin-bottom: 20px;
        
    
    }

    
}

.bloc2__description{
    color: white;
    width: 70%;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    
    
    @include mobile-only() {
        font-size: 15px;
    }
}

.bouton__img{
   
    @include mobile-only() {
        width: 20px;
    }
}


.change-angle{
    transform: rotate(180deg);

}




