.container{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}

.sous-container{
    width: 47%;
   
}

/*
.bloc1{
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
   justify-content: space-between;
   &__bouton1{
    height: 42px;
    position: relative;
    margin-right: 10px;
    //background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    transition-duration: 1s;
   
   };
   &:hover{
    .bloc1__bouton1{
        transform: rotate(-1deg);
    }
   };

   &:hover + .bloc1__on-off1{
        transform: scaleY(1);
    
   };
   
}
.bloc1__on-off1{
    transform: scaleY(0);
    transition-duration: 400ms;
    transform-origin: 0% 0%;
    margin-top: -5px;
    color: #FF6060;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    border-radius: 0px 0px 10px 10px;
}

.bloc1__description{
    color: white;
    width: 70%;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
   
    
}*/

.bloc2{
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
   justify-content: space-between;
   &__bouton2{
    height: 42px;
    position: relative;
    margin-right: 10px;
   // background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
   // transition-duration: 1s;
   
   };
   /*&:hover{
    .bloc2__bouton2{
        transform: rotate(-1deg);
    }
   };

   &:hover + .bloc2__on-off2{
        transform: scaleY(1);
    
   };*/
   
}
.bloc2__on-off2{
    /*transform: scaleY(0);
    transition-duration: 400ms;
    transform-origin: 0% 0%;*/
    margin-top: -5px;
    color: #FF6060;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
    border-radius: 0px 0px 10px 10px;
}

.bloc2__description{
    color: white;
    width: 70%;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
   
}

