.bloc-description{
    border: solid yellow;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.groupe-description{
    width: 47%;
   
}
.bloc-descriptionTitle{
    height: 52px;
    background-color: #FF6060;
    border-radius: 10px;
    display: flex;
   justify-content: space-between;
   
}

.description-title{
    color: white;
    width: 70%;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.bouton-description1{
    height: 42px;
    position: relative;
    margin-right: 10px;
    background-color: #FF6060;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: rotate(180deg);
    transition-duration: 1s;

    border: solid ;
   
}
.bloc-descriptionTitle ~ div {
    border: solid blue;
}
.bouton-description1:hover{
    transform: rotate(-1deg);
}
.bloc-descriptionTitle:hover + .on-off1-description{
    transform: scaleY(1);
}
.on-off1-description{
    transform: scaleY(0);
    transition-duration: 1s;
    margin-top: -5px;
    color: #FF6060;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
}
.on-off2-description{
    margin-top: -5px;
    color: #FF6060;
    background-color: #F6F6F6;
    border: solid #F6F6F6;
}