@mixin tablette-only {
    @media screen  and (max-width: 1000px){
        @content;
    }
}


@mixin mobile-only {
    @media screen  and (max-width: 767px){
        @content;
    }
}

////////////////////////////////////////
/// gestion du responsive de l'image en forme du cercle
@mixin cercle-only {
    @media (min-width: 768px) and (max-width: 1350px){
        @content;
    }
}

//////entre 900 et 1000px problème cercle

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    
}
.sous-container-ficheProduit{
   
    margin: auto;
    margin-top: -20px;
    margin-bottom: 145px;
    //border: solid;
}

.container-info-produit{
    
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    //border: solid;


    @include tablette-only{

         margin-bottom: 30px;
         
        
     }

    @include mobile-only{

       // border: solid black;
        display: flex;
        flex-direction: column;
        
       
    }

    .bloc-des-descriptions{
        
       //border: solid red;
        margin-bottom: 20px;
        //width: auto;
        @include tablette-only{
            margin-bottom: 0px;
            
         }

        .title-ficheProduit{
           // width: 60%;
          // margin-top: -5px;//
            width: auto;
            font-weight: 500;
            font-size: 36px;
            color: #FF6060;

           // border: solid blue;
            @include tablette-only{
                margin-bottom: 20px;
                font-size: 12px;//20px;
            }
            
        }
        .location-ficheProduit{
            width: auto;
            margin: auto;
            margin-bottom: 10px;
            margin-top: -10px;
            color: #FF6060;
            font-weight: 500;
            font-size: 18px;
           
           // border: solid;
            @include tablette-only{
                font-size: 13px;
            }
           
        
        }
        .tagProduit-ficheProduit{
            width: auto;
            font-weight: 500;
            font-size: 14px;
        
            
        }
        @include tablette-only{
           // border: solid yellow;//////////////////////
           
        }
    }


    .bloc-proprio{

       // border: solid  green;
        width: 15%;
       
       @include tablette-only{

       // border: solid blue;
       // width: 15%;
        
        
       }
        @include mobile-only{

            
           // border: solid blue;
            
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            
            .etoiles-bloc{
               // border: solid brown;
            }
           
        }
       
       

       
        .blocUser-ficheProduit{
            
            //width: 17%;
            display: flex;
            justify-content: end; //space-between
            align-items: center;
            //width: 100%;
          // border: solid yellow;

            @include tablette-only{
                //width: 100%;
               // border: solid brown;
                
                
            }
            @include mobile-only{
                margin-top: 20px;
                margin-bottom: 20px;
               // margin-bottom: 20px;
                //width: 17%;
               // border: solid brown;
                position: relative;
                top: 20px;
                
            }

            .name-ficheProduit{
                width: min-content;
                font-weight: 500;
                font-size: 18px;
                margin-right: 20px;
                color: #FF6060;
                
               @include cercle-only{
                
              // border: solid red;
                margin-right: 5px;
                font-size: 12px;
            }

            @include mobile-only{
                    
                margin-right: 5px;
                font-size: 12px;
            }

            
         
    
            
            }
            
            .img-ficheProduit{
               // border: solid red;
                width: 80px;
                height: 80px;
                //border-radius: 40px;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                clip-path: circle();
                
                @include cercle-only{
                    width: 80px;
                     height: 80px;
                     //border-radius: 32.5px;
                     
                     
                     clip-path: circle();
                     margin-right: 5px;
                     font-size: 12px;
                 }

                 
               @include mobile-only{
                    width: 60px;
                    height: 60px;
                   // border-radius: 30px;

                    clip-path: circle();
                    margin-right: 5px;
                    font-size: 12px;
                }

               
                
                
                
            }
        
        }
       
        
    }
}






