@mixin tablette-only {
    @media screen  and (max-width: 900px){
        @content;
    }
}


@mixin mobile-only {
    @media screen  and (max-width: 767px){
        @content;
    }
}

.bloc-imgGallerie{
    width: 90%;
    margin: auto;
    height: 415px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    align-items: center;
    
    @include mobile-only{
        
        height: 250px;
    }
    
}

.button-blocGallerie{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
    
}
.img-gauche{
    width: 50px;
    height: 50px;
    position: relative;
    right: 20px;
    transform: rotate(90deg);
    
    @include mobile-only{
        width: 30px;
        height: 30px;
        
    }

}
.img-droite{
    width: 50px;
    height: 50px;
    position: relative;
    right: -20px;
    transform: rotate(-90deg);

    @include mobile-only{
        width: 30px;
        height: 30px;
        
    }
}
