.bloc-all-tag{
    width: 90%;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border: solid blue;
}

.all-tag{
   // border: solid;
    width: auto;
    display: flex;
    justify-content: space-between;
}
.oneTag{
    color: white;
    height: 25px;
    width: auto;
    background-color: #FF6060;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-star{
    filter: invert(63%) sepia(31%) saturate(7313%) hue-rotate(324deg) brightness(107%) contrast(115%);
    
}