.banner-bloc{
   
    width: 90%;
    height: 250px;
    margin: auto;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    

}
.bloc-img{
    position: absolute;
    width: 100%;
    height: 250px;
    border-radius: 25px;
    
}
.imgBanner{
   
    width: 100%;
    height: 250px;
    border-radius: 25px;
   
}
.banner-title{
    z-index: 1;
    font-size: xx-large;
    color: white;
}